[submodule "include/realloc_unique_ptr/include/ut/realloc_unique_ptr"]
	path = include/realloc_unique_ptr/include/ut/realloc_unique_ptr
	url = https://gist.github.com/dk949/8ef8270dc442e4bc4ef355244cd1b78d
[submodule "include/sv_to_num/include/ut/sv_to_num"]
	path = include/sv_to_num/include/ut/sv_to_num
	url = https://gist.github.com/dk949/642fb0fbd56eeb26895ca85c9ccfcbf3
[submodule "include/pack_loops/include/ut/pack_loops"]
	path = include/pack_loops/include/ut/pack_loops
	url = https://gist.github.com/dk949/90f6744785d9dbc64f4373b1ce463153
[submodule "include/defer/include/ut/defer"]
	path = include/defer/include/ut/defer
	url = https://gist.github.com/dk949/f81f5ba76459b97169abffa87dfd88e1
[submodule "include/print/include/ut/print"]
	path = include/print/include/ut/print
	url = https://gist.github.com/dk949/0b1d14bec6eebdc9c3270c73d4d2ad72
[submodule "include/curry/include/ut/curry"]
	path = include/curry/include/ut/curry
	url = https://gist.github.com/dk949/04f7d2aa602da1973044aafd285055de
[submodule "include/demangle/include/ut/demangle"]
	path = include/demangle/include/ut/demangle
	url = https://gist.github.com/dk949/f30acf59c57719587ee37b280f902d52
[submodule "include/pair/include/ut/pair"]
	path = include/pair/include/ut/pair
	url = https://gist.github.com/dk949/489f93c99e7308b7b3a97755b3125c70
[submodule "include/assert/include/ut/assert"]
	path = include/assert/include/ut/assert
	url = https://gist.github.com/dk949/9a44ff7eb4c353abba332567addc078e
[submodule "include/trim/include/ut/trim"]
	path = include/trim/include/ut/trim
	url = https://gist.github.com/dk949/78dd944ea2b9763eb61cc5a652c35900
[submodule "include/copy_traits/include/ut/copy_traits"]
	path = include/copy_traits/include/ut/copy_traits
	url = https://gist.github.com/dk949/25b098148ff7377bb5c157dde661d2ef
[submodule "include/check/include/ut/check"]
	path = include/check/include/ut/check
	url = https://gist.github.com/dk949/eb6d451f925f196480032f3e8ad14cce
[submodule "include/constexpr_hash/include/ut/constexpr_hash"]
	path = include/constexpr_hash/include/ut/constexpr_hash
	url = https://gist.github.com/dk949/d96a33574723b17cf705abb5fb04ec50
[submodule "include/add_noexcept/include/ut/add_noexcept"]
	path = include/add_noexcept/include/ut/add_noexcept
	url = https://gist.github.com/dk949/d3e0628ee5768bc65c474ec370d77f55
[submodule "include/change_observer/include/ut/change_observer"]
	path = include/change_observer/include/ut/change_observer
	url = https://gist.github.com/dk949/2508ff2b4b5ddf152e7b6c027e8f13c4
[submodule "include/asis/include/ut/asis"]
	path = include/asis/include/ut/asis
	url = https://gist.github.com/dk949/55ab7a19955b3161593067eb3837eb20
[submodule "include/overload/include/ut/overload"]
	path = include/overload/include/ut/overload
	url = https://gist.github.com/dk949/316411796aa993a7d3e823740ed352d8
[submodule "include/err/include/ut/err"]
	path = include/err/include/ut/err
	url = https://gist.github.com/dk949/7ab26f6405813e246528994e0f560fba
[submodule "include/breakpoint/include/ut/breakpoint"]
	path = include/breakpoint/include/ut/breakpoint
	url = https://gist.github.com/dk949/e36f1a7ecc9a8aff296ee6e76a06ba68
[submodule "include/traced_error/include/ut/traced_error"]
	path = include/traced_error/include/ut/traced_error
	url = https://gist.github.com/dk949/392c55c65e3c4efb89c7b89bd4390ba4
[submodule "include/dirs/include/ut/dirs"]
	path = include/dirs/include/ut/dirs
	url = https://gist.github.com/dk949/e8e6a601982fb55ea41d38451109bd02
